.banner{
    background-color: var(--2-color);
    display: flex;
    justify-content: center;
    margin: -1em 0em 0em 0em;
    padding: 2em 0em 1em   0em;
}

.posNav{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 1em 0em 1em 0em;
}

.navBarLink a {
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: none;

}

.logo {width: 3.8em;
}

.navBarLink{

    display: flex;
    flex-direction: row;
        gap: 1em;
}


.posLogo{
    display: flex;
     flex-direction: row;
    align-items: flex-end;

}


.title{
    font-size: 2.8em;
    padding: 0em;
    margin: 0em;
}